html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #181818;
    color: whitesmoke;
    font-family: "Genos";
    overflow-x: hidden;
    scrollbar-color: black;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818; 
    z-index: 1; 
    padding: 0 10px; 
}

nav .name {
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

nav .items {
    font-size: 25px;
    color: #888e99;
    font-weight: 600;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover .items {
    color: whitesmoke;
}

nav #GitHub {
    width: 50px;
    height: 50px;
    margin-left: 20px; /* Space before GitHub icon */
}

nav #GitHub:hover {
    content: url(images/GitHubHover.png);
    width: 50px;
    height: 50px;
}

nav #GitHub {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

nav #GitHub:hover {
    content: url(../../images/GitHubHover.png);
    width: 50px;
    height: 50px;
}

/* End of Nav Bar */

/* Resume DIV */

#projContainer {
    height: auto;
}
#projContainer #scubaImg{
    display: block;
    margin-left: 50px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(238, 234, 234, 0.5);
    width: auto;
    height: 300px;
}
#projContainer h1 {
    margin-left: 80px;
    display: inline;
}

#projContainer h2 {
    color: #b3b7bf;
    margin-left: 80px;
    margin-top: -5px;
}

#projContainer h3 {
    color: #888e99;
    font-weight: bold;
    margin-left: 80px;
    font-style: italic;
    margin-top: -20px;
}

#projContainer a {
    color: #b3b7bf;
}

#projContainer a:hover {
    color: #c8cbd2;
}

#projContainer li {
    list-style: square;
    margin-left: 80px;
    margin-top: -5px;
    font-size: 20px;
}

#bgColorGray {
    background-color: #555;
    width: 100%;
}

#bgColorGray h3{
    color: #9ca1aa;
}

#bgColorGray a {
    color: #b3b7bf;
}

#bgColorGray a:hover {
    color: whitesmoke;
}


#bgColorGray .noListStyle {
    list-style-type: disc;
}


@media (max-width: 768px) {
    
    /* Nav Bar */
    nav {
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        background-color: #181818; 
        z-index: 1; 
    }

    nav .name {
        margin-top: 1px;
        font-size: 30px;
        font-weight: bold;
        margin-right: 150px;
    }
    
    nav .items {
        margin-top: 10px;
        font-size: 25px;
        color: #888e99;
        font-weight: 600;
    }
}