html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #181818;
    color: whitesmoke;
    font-family: "Genos";
    overflow-x: hidden;
    scrollbar-color: black;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    position: sticky;
    top: 0;
    background-color: #181818; 
    z-index: 1; 
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav .name {
    margin-top: 7px;
    font-size: 40px;
    font-weight: bold;
    margin-right: 305px;
}

nav .items {
    margin-top: 10px;
    font-size: 25px;
    color: #888e99;
    font-weight: 600;
}

nav .items:hover {
    color: whitesmoke;
}

nav #GitHub {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

nav #GitHub:hover {
    content: url(../../images/GitHubHover.png);
    width: 50px;
    height: 50px;
}

/* End of Nav Bar */

/* Resume DIV */

#resumeContainer {
    height: auto;
}

#resumeContainer h1 {
    margin-left: 80px;
}

#resumeContainer h2 {
    color: #b3b7bf;
    margin-left: 80px;
    margin-top: -5px;
}


#resumeContainer h3 {
    color: #888e99;
    font-weight: bold;
    margin-left: 80px;
    font-style: italic;
    margin-top: -20px;
}

#resumeContainer li {
    list-style: square;
    margin-left: 80px;
    margin-top: -5px;
    font-size: 18px;
}

#bgColorGray {
    background-color: #555;
}

#bgColorGray h3{
    color: #9ca1aa;
}

#bgColorGray a {
    color: #b3b7bf;
}

#bgColorGray a:hover {
    color: whitesmoke;
}


#bgColorGray .noListStyle {
    list-style-type: disc;
}